.env
.env.*
!.env.example

*.pem
*.key
*.crt
*.cer
*.p12
*.pfx
*.jks
*.keystore

**/node_modules/

**/dist/
**/build/
**/out/

**/target/

.gradle/
.idea/
.run/
.vscode/
*.iml

**/*.log
**/logs/

/data/

.DS_Store
Thumbs.db
